<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fizuli</title>
    <link rel="stylesheet" href="userpage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="navbar-left">
        <div class="user-profile">
            <div class="profile-pic">
                <img src="img/geralticon.jpeg" alt="profileicon" id="icon">
            </div>
            <h1 class="username">Helix</h1>

        </div>
        <div class="Library">
            <div class="Links">
                <a href="#" class="navbar-link"> <i class='bx bx-home-alt-2' ></i> Home</a>
                <a href="#" class="navbar-link"> <i class='bx bx-search' ></i> Search</a>
                <a href="#" class="navbar-link"> <i class='bx bxs-playlist' ></i> Playlists</a>
                <a href="#" class="navbar-link"> <i class='bx bxs-user-detail' ></i> Artists</a>
                <a href="#" class="navbar-link"> <i class='bx bx-cog'></i> Settings</a>
                <a href="#" class="navbar-link"> <i class='bx bx-heart' ></i> Favorites</a>
            </div>
            <div class="LikedSongs">
                <div class="liked-item">
                        <img src="img/Kardolubesk.png" class="item-pic" alt="item-picture"><h1>KarDoluBesk <br><span>Playlist &#x2022; Salvatore</span></h1>
                </div>
                <div class="liked-item">
                    <img src="img/Apocalypse.png" class="item-pic" alt="item-picture"><h1>Apocalypse <br><span>Playlist &#x2022; fidan <i class='bx bxs-volume-full' ></i></span></h1>
                </div>
                <div class="liked-item">
                    <img src="img/oblivion.png" class="item-pic" alt="item-picture"><h1>oblivion <br><span>Playlist &#x2022; fidan</span></h1>
                </div>
                <div class="liked-item">
                    <img src="img/BarisAkarsu.png" class="item-pic" alt="item-picture"><h1>SALAM <br><span>Playlist &#x2022; Salvatore</span></h1>
                </div>
                <div class="liked-item">
                    <img src="img/kat.jpg" class="item-pic" alt="item-picture"><h1>Marvel <br><span>Album &#x2022; Marvel</span></h1>
                </div>
                <div class="liked-item">
                    <img src="img/images.jpeg" class="item-pic" alt="item-picture"><h1>Rock <br><span>Playlist &#x2022; helix</span></h1>
                </div>
                <div class="liked-item">
                    <img src="img/wp10862076.jpg" class="item-pic" alt="item-picture"><h1>Spanish <br><span>Playlist &#x2022; El Bandits</span></h1>
                </div>
            </div>
            <a href="/Music"><button type="" id="logoutBtn"><i class='bx bx-log-out' ></i>Log out</button></a>
        </div>
    </div>

    <div class="content">
        <div class="Musics" id="Musics">

            <h1>This Weeks trends : </h1>

            <div class="feautured_music_box">

                <div class="featured_music_card">
                    <div class="featured_music_img">
                        <img src="img/Sweater.png" alt="SweaterWeather">
                    </div>
                    <div class="featured_music_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Sweater Weather</h2>
                        <div class="singer">The Neighbourhood</div>
                        <p class="music_price">4:00</p>
                    </div>
                </div>

                <div class="featured_music_card">
                    <div class="featured_music_img">
                        <img src="img/SevdalilarBeniAnlar.png" alt="SevdalilarBeniAnlar">
                    </div>
                    <div class="featured_music_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Sevdalılar Beni Anlar</h2>
                        <div class="singer">Ferdi Tayfur</div>
                        <p class="music_price">4:15</p>
                    </div>
                </div>

                <div class="featured_music_card">
                    <div class="featured_music_img">
                        <img src="img/BarisAkarsu.png" alt="Ben">
                    </div>
                    <div class="featured_music_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Ben</h2>
                        <div class="singer">Barış Akarsu</div>
                        <p class="music_price">3:54</p>
                    </div>
                </div>

                <div class="featured_music_card">
                    <div class="featured_music_img">
                        <img src="img/TaylorSwift.png" alt="Ben">
                    </div>
                    <div class="featured_music_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Shake it off</h2>
                        <div class="singer">Taylor Swift</div>
                        <p class="music_price">3:39</p>
                    </div>
                </div>

                <div class="featured_music_card">
                    <div class="featured_music_img">
                        <img src="img/VivaLaVidaColdplay.png" alt="VivaLaVida">
                    </div>
                    <div class="featured_music_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Viva La Vida</h2>
                        <div class="singer">Coldplay</div>
                        <p class="music_price">4:02</p>
                    </div>
                </div>

                <div class="featured_music_card">
                    <div class="featured_music_img">
                        <img src="img/Arcade.png" alt="Arcade">
                    </div>
                    <div class="featured_music_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Arcade</h2>
                        <div class="singer">Duncan Laurance</div>
                        <p class="music_price">3:05</p>
                    </div>
                </div>

                <div class="featured_music_card">
                    <div class="featured_music_img">
                        <img src="img/Eleanor.png" alt="EleanorRigby">
                    </div>
                    <div class="featured_music_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Eleanor Rigby</h2>
                        <div class="singer">The Beatles</div>
                        <p class="music_price">2:05</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="Musics" id="Albums">

            <h1>Trending Albums : </h1>

            <div class="feautured_album_box">
                <div class="feautured_album_card">
                    <div class="featured_music_img">
                        <img src="img/guitarlo.jpg" alt="Album">
                    </div>
                    <div class="featured_album_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Rock and Roll</h2>
                    </div>
                </div>
                <div class="feautured_album_card">
                    <div class="featured_music_img">
                        <img src="img/anadolurok.jpeg" alt="Album">
                    </div>
                    <div class="featured_album_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>AnadoluRock</h2>
                    </div>
                </div>
                <div class="feautured_album_card">
                    <div class="featured_music_img">
                        <img src="img/TaylorSwift.png" alt="Album">
                    </div>
                    <div class="featured_album_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Pop2024</h2>
                    </div>
                </div>
                <div class="feautured_album_card">
                    <div class="featured_music_img">
                        <img src="img/gamesWitcherwp.jpeg" alt="Album">
                    </div>
                    <div class="featured_album_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Video game</h2>
                    </div>
                </div>
                <div class="feautured_album_card">
                    <div class="featured_music_img">
                        <img src="img/interstellar-d5hpgadclxszmpeh.jpg" alt="Album">
                    </div>
                    <div class="featured_album_tag">
                        <a href="#" class="f_btn"><i class='bx bx-play-circle' ></i></a>
                        <h2>Movie</h2>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>